<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhf.mall.management.dao.TemplateDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lhf.mall.management.domain.TemplateEntity">
        <id column="id" property="id" />
        <result column="region" property="region" />
        <result column="region_code" property="regionCode" />
        <result column="name" property="name" />
        <result column="currency_symbol" property="currencySymbol" />
        <result column="create_time" property="createTime" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

</mapper>
